n8n/backup/workflows/Demo_workflow.json
{
  "name": "Demo workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "74003dcd-2ac7-4caa-a1cd-adecc5143c07",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "cdb5c076-d458-4b9d-8398-f43bd25059b1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\nTools: {{ JSON.stringify($json.tools) }}",
        "options": {
          "systemMessage": "You are an AI assistant with access to tools.\n\nUse the description of the tool to determine if it is needed to answer the prompt?\nPay attention to the \"schema\" as it defines the parameters or input needed for the tool.\n\nThe output of a tool can be used as input for a subsequent tool. Use the tool output(s) to generate a final response.\n\nIf you don't need to use a tool, respond normally.\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        692,
        0
      ],
      "id": "939ef995-d1ee-42cb-823d-c64d09116f3a",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pns55mna4wp4bij",
        "table": "mcvlly3xyq6vh5q",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "title",
              "fieldValue": "=AI: output: {{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1100,
        0
      ],
      "id": "12c10c80-b4cb-4866-b24a-1400213ec431",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YkPs1hgnagvpaanv",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Find the SEC filing for a given company and filing type for a particular month.\n\nbelow are description of the parameters:\n\nticker: str = Field(description=\"The ticker of the company to find for example 'AAPL', 'MSFT', 'AMZN', or 'META'\"),\n\nfiling_type: str = Field(description=\"The filing type to find for example '10-K' or '10-Q', hyphen may be omitted\"),\n\nmonth: str = Field(description=\"The month of the filing for example 'Jan 2023', a date may also be provided in which case only the month and year will be used\"),",
        "connectionType": "sse",
        "operation": "executeTool",
        "toolName": "find_sec_filing",
        "toolParameters": "={\n  \"ticker\": \"ticker\",\n  \"filing_type\": \"filing_type\",\n  \"month\": \"month\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        780,
        220
      ],
      "id": "a158c074-121e-423d-bf01-08a9144c95fe",
      "name": "find_sec_filing",
      "credentials": {
        "mcpClientSseApi": {
          "id": "YSPeTkVbnTHss6VK",
          "name": "MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        220
      ],
      "id": "abd53eb6-fef6-409e-a277-81b89970b338",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kolpgEpzSbZUcWu4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse"
      },
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        220,
        80
      ],
      "id": "fc4a5dba-83a3-4e41-92e7-dd034acede74",
      "name": "MCP Client",
      "credentials": {
        "mcpClientSseApi": {
          "id": "YSPeTkVbnTHss6VK",
          "name": "MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Analyze a specific SEC filing given it's document id and query it for information.\n\nbelow are description of the parameters:\n\ndoc_id: str = Field(description=\"The id of the document to analyze, IMPORTANT: this must be a UUID\"),\n\nquery: str = Field(description=\"The query to analyze for example 'What is the company's revenue?'\")",
        "connectionType": "sse",
        "operation": "executeTool",
        "toolName": "find_sec_filing",
        "toolParameters": "{\n  \"doc_id\": \"doc_id\",\n  \"query\": \"query\"\n}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        940,
        220
      ],
      "id": "13534374-5590-4b08-a24d-d048769d4dfa",
      "name": "analyze_sec_filing",
      "credentials": {
        "mcpClientSseApi": {
          "id": "YSPeTkVbnTHss6VK",
          "name": "MCP Client (SSE) account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        440,
        0
      ],
      "id": "c7310331-ec61-4632-82f3-72dbc4dc577a",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "MCP Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_sec_filing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "analyze_sec_filing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8090cab3-fd45-47ed-b7cf-a4dee3a99759",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "srOnR8PAY3u4RSwb",
  "tags": []
}